<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/AI.css' %}">
</head>
<body>
    <div class="header1">
        <H1> SVCE Bengaluru </H1>
    </div>
    <div class="content">
    
    </div>
    <div class="outercontent">
        <div class="content1">
            <h2>Welcome to the Department of CSE - Artificial Intelligence</h2>
            <p>
                CSE - Artificial Intelligence
The Department of Artificial Intelligence is to accomplish excellence in the field of Artificial Intelligence technical education through education, research and service needs of society. And also to educate students in the area of artificial intelligence by providing best practices of teaching learning process for careers in software industry or higher education.
<br> <br>
                Artificial Intelligence (AI) is concerned with the development of systems that exhibit behavior typically associated with human cognition, such as perceiving, learning, communicating, reasoning, making decisions, and acting in a physical and social environment. AI research at Columbia CS focuses on machine learning, natural language and speech processing, computer vision, robotics, and security.
                <br> <br>
                AI researchers collaborate widely within the university and beyond, contributing to applications in medicine, public safety, law, journalism, and other areas. 
            </p>
        </div>
    </div>
    <div class="outerdetails">
        <div class="details">
            
        </div>
    </div>
</body>
</html>
