<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/CIVIL.css' %}">
</head>
<body>
    <div class="header1">
        <H1> SVCE Bengaluru </H1>
    </div>
    <div class="content">
    
    </div>
    <div class="outercontent">
        <div class="content1">
            <h2>Welcome to the Department of Civil Engineering</h2>
            <p>
                Civil Engineering
The Department of Civil Engineering started Bachelor of Engineering (B.E.) in the academic year 2004-05. The Department has started Master of Technology (M. Tech) in Structural Engineering in the academic year 2013 – 14, with an intake of 24 students. Department is accredited by NBA for 3 years up to 2022 and Permanent affiliation from VTU for UG program up to 2022. Department has established Centre of excellence in BIM & Infrastructure Engg Softwares. 
<br> <br>
The Department has qualified and experienced faculty members with minimum qualification of M.Tech. The Department has Professors, Associate Professors and Assistant Professors, and Non-Teaching Faculty satisfying the guidelines of AICTE.

Vision

            </p>
        </div>
    </div>
    <div class="outerdetails">
        <div class="details">
            
        </div>
    </div>
</body>
</html>
