<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBER</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/CYBER.css' %}">
</head>
<body>
    <div class="header1">
        <H1> SVCE Bengaluru </H1>
    </div>
    <div class="content">    
    </div>
    <div class="outercontent">
        <div class="content1">
            <h2>Welcome to the Department of CSE - Cyber Security</h2>
            <p>
                Mechanical Engineering
                Since its commencement, the Department of Mechanical Engineering is known for offering exceptional education and research opportunities, creating quality Engineers engaged in the service of humanity embedded with discipline and honor. The Department, with profoundly qualified teaching staff and advanced laboratories, has been shaping up aspiring mechanical engineers by delivering outstanding wisdom and enhancing their skills to make them job-ready in today’s competitive environment. 
                <br> <br>
                The Department forum regularly hosts several workshops, seminars, and symposiums to offer a platform for the students, faculty members to create, interpret, apply, and disseminate knowledge amongst their peers and industry experts.
            </p>
        </div>
    </div>
    <div class="outerdetails">
        <div class="details">
            
        </div>
    </div>
</body>
</html>
