<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/DS.css' %}">
</head>
<body>
    <div class="header1">
        <H1> SVCE Bengaluru </H1>
    </div>
    <div class="content">
    
    </div>
    <div class="outercontent">
        <div class="content1">
            <h2>Welcome to the Department of CSE - Data Science</h2>
            <p>
                CSE-Data Science and Engineering
The Department endeavors for academic excellence in CSE -Data Science and Engineering through the student-centric innovative teaching-learning process, competent faculty members, efficient assessment, and effective use of ICT. With globally competent UG and research programs to impart current skills and industry trends relevant to the subject, the Department of CSE-Data Science is focused on training dynamic leaders who are qualified to take on the roles that the future demands.
                <br> <br>
                The Department is also constantly engaged in promoting collaborative research through Industry-Institute Interaction in the various verticals of CSE-Data Science and Engineering, transforming the engineering aspirants to a socially responsible, ethical, technically skilled, and value-added professional or entrepreneur.
            </p>
        </div>
    </div>
    <div class="outerdetails">
        <div class="details">
            
        </div>
    </div>
</body>
</html>
