<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/EC.css' %}">
</head>
<body>
    <div class="header1">
        <H1> SVCE Bengaluru </H1>
    </div>
    <div class="content">
    
    </div>
    <div class="outercontent">
        <div class="content1">
            <h2>Welcome to the Department of Electronics & Communication Engineering</h2>
            <p>
                Electronics & Communication Engineering
Recognized as a leading center for academic excellence in creating dynamic technocrats and researchers in the field, the Department of Electronics and Communication Engineering at SVCE nurtures students with a sound technical foundation through efficient teaching-learning processes and state–of–the–art infrastructure. 
<br> <br>
The Department is focused on instilling ethical values, leadership attributes, lifelong learning, individual and teamwork capabilities amongst the students through holistic education. The UG and research programs highlight passing cutting-edge expertise with forward-looking pedagogy while addressing the underlying concerns linked to the domain.
            </p>
        </div>
    </div>
    <div class="outerdetails">
        <div class="details">
            
        </div>
    </div>
</body>
</html>
