body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.header1 h1{
    text-align: center;
    margin-top: 0px;
    padding: 0px;
    padding-top: 10px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    /* background-color: #1f2329; */
    color: #181818;
}
.content{
    margin: 0px;
    padding: 0px;
    /* padding-top: 50px; */
    height: 70vh;
    background-image: url(cse_ds.jpg);
    background-position: center;
    opacity: initial;
    background-repeat: no-repeat;
    background-size: cover;
}
.outercontent{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.content1{
    width: 1200px;
    height: 250px;
    /* background-color: #565656; */
}
.content1 h2{
    font-size: 50px;
    text-align: center;
}
.content1 p{
    padding: 20px;
    font-size: 20px;
    text-align: justify;
}
.outerdetails{
    /* height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.details{
    width: 100%;
    height: 300px;
    margin-top: 250px;
    background-image: url(DS\ duration.png);
    background-position: center;
    opacity: initial;
    background-repeat: no-repeat;
    background-size: contain;
}